{% extends 'web/base.html' %}

{% block title %}
    肖炜的博客
{% endblock %}

{% block css %}
<link href="/static/web/css/base.css" type="text/css" rel="stylesheet"/>
<link href="/static/web/css/index.css" rel="stylesheet"/>
<link href="/static/web/css/m.css" rel="stylesheet" />
{% endblock %}


{% block content %}

        <header class="header-navigation", id="header">
			<img src="/static/web/img/logo.png">
			<nav><div class="logo"><a href="{% url 'art:login' %}">肖炜个人博客</a></div>
			<h2 id="mnavh"><span class="navicon"></span></h2>
			<ul id="starlist">
				<li><a href="{% url 'web:index' %}">网站首页</a></li>
				<li><a href="{% url 'web:post' %}">我的笔记</a></li>
				<li><a href="{% url 'web:about' %}">关于我</a></li>
			</ul>
		</nav>
		</header>
		<article>
			<aside class="l_box">
				<div class="about_me">
					<h2>关于我</h2>
					<ul>
						<i><img src="/static/web/img/tx.jpg"></i>
						<p><b>肖炜</b>,一个90后！从2016年进入大学开始了解基础的网络知识,一直都在学习计算机知识。</p>

					</ul>

				</div>
			</aside>
			<main class="r_box">
                <div class="about">
                    <p>该作者暂时没有上传信息</p>
                </div>
			</main>
		</article>
		<footer>
			<p>Design by <a href="xwytq.top" target="_blank">肖炜个人网站</a>&emsp;蜀ICP备18036499号</p>
		</footer>
{% endblock %}