body{
    margin:0;
    padding:0;
    background-image:url('/static/backweb/img/index.jpg');
    font-size: 24px;

}

.header{
    margin-top:20px;
    margin-left:30px;
    margin-bottom:20px;
    height:60px;

}
#btn{
    float:left;
    margin-left: 300px;
}
#btn input{
    margin-top:-5px;
    width: 150px;
}
#btn button{
    height:20px;
    width: 50px;
    border: 0px;
    background: red;
    color:white;
}


.header a{
	text-decoration: none;

}
.header a:hover{
    color:red;
}
#news{
    margin-top: 0px;
    margin-left: 200px;
}

.header ul, .header li{
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
	margin-right: 20px;
}

.header>ul>li>ul{
	position: absolute;
	left: 900px;
	top: 40px;
	display: none;

}

.header>ul>li>ul>li{
	list-style: none;
	display: block;

}
.header>ul>li>a{
	width: 120px;
	color: black;
	text-align: center;
	display: block;
}

.header>ul>li:hover ul{
	display: block;
}
.header>ul>li>ul>li{
    float: none;
}
.header>ul>li>ul>li a{
    color: black;
    font-size:16px;


}

#comment{
    margin-top:-30px;
}
#comment a:hover{
    color: red;
}
#left{
    width: 200px;
    height: 500px;
    font-size: 24px;

    position:absolute;
    top: 90px;
}
#left ul{
    margin-top: 45px;
}

#left ul, #left li{
    list-style: none;
    margin-left: 30px;
    padding: 0;
}

#left>ul>li>ul{
    position: absolute;
    display: none;
    margin-top: 0px;
    font-size: 16px;
}

#left a{
    text-decoration: none;
    color: black;
}
#left>ul>li:hover ul{
    display: block;
}


#content{
    width: 1150px;
    height: 500px;
    position:absolute;
    top: 100px;
    left: 200px;

    border: 2px solid rgb(22,204,228);
}
h4{
    margin:10px;
}

#add {
    position:absolute;
    right: 20px;
    top:-10px;
}
#add a{
    text-decoration:none;
    color: black;

}
#th td{
    width: 200px;
    font-size: 24px;
    text-align: center;

}
#th2 td{
    width: 300px;
    height: 30px;
    font-size: 16px;
    text-align: center;

}
#center{
    position:absolute;
    left:330px;
    top:10px;
    font-size:12px;
    color: red;
}

form{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 20px;
    left: 350px;
    font-size: 16px;

}
#sub{

    width: 50px;
    height: 30px;
    font-size:18px;
    border: none;
    background: red;
    color: white;
}
#page{
    height:30px;
    position:absolute;
    bottom:20px;
    right:20px;

}
#pg{
    font-size: 18px;
}

#pg a{
    text-decoration: none;
    color: red;
}
#rec img{
    width:200px;
    height:180px;
    float:left;
    margin-left:20px;
    margin-top:15px;
}
